body{
    margin :0;
    font-family:Arial, sans-serif;
    
}
h1{
    text-align: center;
}
.continent-content{
    display: none;
    padding: 40px;
    background-color: #28a57100;
    border-radius: 8px;
    margin-top: 20px;
   
    animation: fadeIn 0.5s ease-in-out;
}

.content-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:30px;
    align-items: center;
}
.select-continent{
    text-align: center;
    padding: 20px;
    background-color: #eee;
}
select{
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
}
.cta-button{
    cursor: pointer;
    font-size: 1rem;
    border: none;
    background-color: #292728;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight:  bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    
}
.cta-button:hover{
    background-color: #6e6a6b;
}
.hm-button:hover{
    color: black;
            transform: scale(1.1);
            background-color: #e4e4e4ff;
}
.hm-button{
     position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #0d0d0eff;
            color: white;
            padding: 15px 25px;
            border-radius: 50px;
            text-decoration: none;
            font-family: sans-serif;
            font-weight: bold;
            box-shadow: 0 4px 10px rgba(0,0,0,0.3);
            z-index: 9999;
            transition: transform 0.3s, background 0.3s;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
@keyframes fadeIn {
    from {opacity:0; transform:translateY(10px); }
    to {opacity: 1; transform: translateY(0);}
}