body{
    margin :0;
    font-family:Arial, sans-serif;
}

.main-section{
    position: relative;
    height: 100vh;
    overflow: hidden;
    
    
    


}

.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: none;
}


.bg-wrapper{
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(119, 117, 117, 0.329), rgba(0, 0, 0, 0.61)),url('../../images/globe.png');
    background-size: cover;
    background-position: center;
    transition: transform 1s ease-in-out;
}

.main-content{
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.main-content h1{
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    
}
.main-content p{
    font-size: 1.5rem;
    margin-bottom: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color:antiquewhite;
}
.cta-button{
    cursor: pointer;
    font-size: 1rem;
    border: none;
    background-color: #292728;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight:  bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    
}
.cta-button:hover{
    background-color: #6e6a6b;
}